<h2>List of products in your cart:</h2>
 
<table class="table table-striped"> 
<thead>
    <tr>
        <th>Pizza</th>
        <th>Picture</th>
        <th>Price</th>
        <th>Count</th>
        <th>Final</th>
</thead>
<% @total = 0 %>
<tbody>
    <% @pre_order.each do |item| %>
	    <% key = (item.split('=')[0]).split('_')[1] %>
	    <% value = item.split('=')[1] %>
	    <% list = @products.find(key) %>
	    <% final_price = list[:price].to_i*value.to_i %>
    <tr>
    	<td><img src="<%= list[:path_to_image] %>"> </td>
        <td><%= list[:title] %></td>      
        <td><%= list[:price] %> rub.</td></td>
        <td><%= value %></td>
        <td><%= final_price %> rub.</td>
        <% @total += final_price %>
    </tr>
<% end %>
    <tr>
        <td></td><td></td><td></td>
        <td><b>Total price:</b></td>
        <td><%= @total %> rub.</td>
    </tr>
</tbody>
</table>

<div class="row">
	<div class="col-md-9"></div>
    	<div class="col-md-3" >
			<a class="btn btn-info button-right" href="/" role="button">Continue</a>
			<input class="btn btn-success" href="/order" type="button" value="Checkout">
		</div>
</div>